body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: "Georgia", serif;

  display: flex;
  justify-content: center;
  align-items: flex-start; /* IMPORTANTE */

  min-height: 100vh;
  padding-top: 80px; /* sobe o conteúdo */
  text-align: center;
}

/* Container */
.container {
  padding: 10px;
  max-width: 90%;
}

/* Aspas */
.aspas {
  font-size: 40px;
  margin-bottom: 10px;
}
/* Frase */
#frase {
  font-size: 26px;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 0 10px;
}

/* Linha dourada */
.linha {
 margin: 10px auto;
}

/* Autor */
#autor {
   font-size: 13px;
  margin-top: 10px;
}

/* 📱 Ajuste para celular */
@media (min-width: 768px) {
  #frase {
    font-size: 32px;
  }

  .aspas {
    font-size: 80px;
  }
}
